apiVersion: v1
kind: Secret
metadata:
  name: redis-secret
  namespace: {{ .Values.namespace }}
  labels:
    app: redis
type: Opaque
data:
  redis-password: {{ .Values.redis.password | b64enc | quote }}
